// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#jobDescription {
	height: 640px;
	overflow: scroll;
	overflow-x: hidden;
}

#annotationForm input, textarea {
	width: 300px;
}

#annotationForm #nextButton {
	width: 70px;	
}

#annotationForm #acceptCheckbox {
	width: 20px;
}

mark.myMark {
	background: #ff0;
}

.possible_skill {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.not_a_skill {
	background-color: #ccc;
}

.required_skill {
    background-color: #79e579;
}

.optional_skill {
    background-color: #f0ad4e;
}